/node_modules
/public/hot
/public/frontend/*
/public/dependencies/*
/public/alternative/*
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
laravel-echo-server.json
laravel-echo-server.lock
resources/js/ziggy.js
resources/js/ziggy_alt.js
laravel-echo-server.lock
/mu-vendor/vendor/
