
/** dropdown start */
.header-dropdown {
    margin-left: 1.50rem;

    &__row {
        position: relative;
    }


    /** button */
    &__button {
        padding: 1.65rem 0 1.65rem 2.65rem;
        cursor: pointer;

        &:hover {
            .header-dropdown__icon-color {
                stroke: var(--yellow-color);
            }
        }
    }


    /** icon */
    &__icon {
        width: 26px;
        height: 26px;
        display: block;

        &-color {
            stroke: var(--white-color);
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round;
            transition: all 0.5s ease-out;
        }

    }

    /** active */
    .active {
        display: block !important;
    }

    .logout-icon {
        position: relative;
        left: 2px;
    }

    /** list */
    &__list {
        display: none;

        position: absolute;
        top: 4.90rem;
        right: -1.60rem;
        z-index: 8;
        min-width: 280px;
        padding: 0.50rem 0;
        background-color: var(--blue-dark-second-color);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        /** info block */
        &-info {
            padding: 0.60rem 0.20rem 0.60rem 1rem;

            p {
                color: var(--white-color);
            }

            .email {
                color: var(--yellow-color);
                word-break: break-word;
            }

        }

        /** link */
        a, button {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            padding: 0.60rem 0.50rem;

            transition: all 0.5s ease-out;

            &:hover {
                color: var(--yellow-color);
                background-color: var(--dark-body-color);

                .header-dropdown__list-color {
                    stroke: var(--yellow-color);
                }
            }
        }

        /** icon */
        &-icon {
            width: 28px;
            height: 28px;
            display: block;
            margin-right: 10px;
        }

        /** icon color */
        &-color {
            stroke: var(--white-color);
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round;
            transition: all 0.5s ease-out;
        }


    }
}
/** dropdown end */



/** dropdown media screen start */
@media screen and (max-width: 1000px) {

    .header-dropdown {

        &__button {
            padding: 1.60rem 0 1.12rem 1rem;
            cursor: pointer;
        }

        &__list {
            top: 3.90rem;
        }

    }

}
/** dropdown media screen end */

@media screen and (max-width: 500px) {
   
    .header-dropdown {

        &__list {
            right: -3.60rem !important;
        }

    } 
}