
/** mode start */
.header-mode {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode {
    position: relative;
    width: 58px;
    height: 32px;
    margin-left: 16px;
    outline: 0;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: #151926;

    &:focus {
        outline: none !important;
    }

    &:before {
        content: "";
        position: absolute;
        width: 32px;
        height: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='2.4' fill='%23fff' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72l1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42'/%3E%3C/svg%3E");
        background-size: cover;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-size: 50%;
        transition: .3s;
        background-position: 50%;
    }
    &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        right: 6px;
        top: 6px;
        background-color: var(--blue-dark-fourth-color);
        border-radius: 50%;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s,-webkit-transform .3s;
    }
}

body.dark .mode {
    &:before {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='2' fill='%23fff' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z'/%3E%3C/svg%3E");
        -webkit-transform: translateX(26px);
        transform: translateX(26px);
    }
    &:after {
        -webkit-transform: translateX(-24px);
        transform: translateX(-24px);
    }
}
/** mode end */
