
/** TYPOGRAPHIA SETTINGS */

:root {

    /* TITLE SIZE */
    --h1-font__size: 3rem;
    --h2-font__size: 2rem;
    --h3-font__size: 1rem;


    /* TEXT SIZE */
    --default-font__size:  0.90rem;
    --small-font__size:    0.80rem;
    --big-font__size:      1.30rem;


    /* TEXT WEIGHT */
    --regular-font:  400;
    --medium-font:   500;
    --semi-font:     600;
    --bold-font:     700;
    --extra-font:    800;
    --black-font:    900;

}