
/** COLOR SETTINGS */

:root {
    /* COLOR THEMES LIGHT */
    --body-color: #FBFDFF;
    --first-text-color: #3e3e3e;
    --second-text-color: #8B8D98;
    --third-text-color: #262744;
    --fourth-text-color: #252542;
    --border-line-color: #E5E7EB;
    --tr-hover-color: #E5E7EB;
    --rows-color: #F4F6F9;

    --hover-v1-color: #1d2234;
    --white-input: #ffffff;
    --progress-color: #8B8D98;
    --select-option: #ffffff;
    --menu-btn-color: #ffffff;

    --blue-dark-color: #2a6c37;
    --blue-dark-second-color: #1e4d29;
    --blue-dark-thir-color: #2a6c37;
    --blue-dark-bar-color: #163d20;
    --blue-dark-fourth-color: #358040;
    --red-color: #bb4040;
    --red-second-color: #d12f44;
    --green-color: #229E6B;
    --green-second-color: #25b176;
    --yellow-color: #FFC107;
    --gray-color: #BABABA;
    --purple-color: #181c2b;
    --purple-second-color: #5f54aa;
    --purple-third-color: #161a28;
    --white-color: #ffffff;

    /* COLOR THEMES DARK */
    --dark-body-color: #132618;
    --dark-text-color: #B9BAC0;

}


