
/** search start */
.tabs-search {
    display: flex;
    justify-content: flex-start;

    input {
        display: block;
        width: 100%;
        padding: 0.40rem 0.50rem 0.40rem 0;
        font-size: var(--default-font__size);
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--first-text-color);

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &::placeholder {
            color: var(--second-text-color);
        }
    }

    /** icon */
    &__icon {
        position: relative;
        top: 8px;
        display: inline-block;
        width: 22px;
        height: 24px;
        margin-right: 4px;
    }

    /** color */
    &__color {
        stroke: var(--first-text-color);
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

}
/** search end */
