
/** .module orderform start */
.module-orderform {

    /** .module orderform title start */
    &__title {
        display: flex;
        justify-content: flex-start;

        margin-top: 2rem;
        font-size: var(--default-font__size);

        color: var(--second-text-color);

        border-bottom: 1px solid var(--border-line-color);

        &-item {
            cursor: pointer;
            margin-right: 1.875rem;
            padding: 1.5rem 0 0.50rem;

            &:hover {
                color: var(--first-text-color);
            }
        }

    }
    /** .module orderform title end */

    .info-badge {
        color: var(--second-text-color);
    }


    .button-tab {
        float:left;
        display: inline-block;
        width: 50%;
        padding: 0.8rem 0;
        text-align: center;
        outline: none;
        color: var(--dark-body-color);
        background-color: var(--rows-color);
    }

    .button-tab-buy {
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .button-tab-sell {
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .button-tab-buy-active {
        color: var(--white-color);
        background-color: var(--green-color) !important;
    }

    .button-tab-sell-active {
        color: var(--white-color);
        background-color: var(--red-color) !important;
    }

    .button-clear {
        clear: both;
    }

    &__active {
        border-bottom: 2px solid var(--first-text-color);
        color: var(--first-text-color);
    }


    &__container {
        display: flex;
        justify-content: space-between;

        padding: 1px;

        font-size: var(--small-font__size);

        input {
            font-size: var(--small-font__size);
        }

    }

    /** buy start */
    &__buy {
        width: 100%;

        &-title {
            display: flex;
            justify-content: space-between;

            margin: 1.5rem 0 0.5rem;
        }

        &-currency {
            display: flex;
            justify-content: flex-start;

            color: var(--second-text-color);
        }

        &-icon {
            position: relative;
            top: -1px;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }

        &-color {
            stroke: var(--second-text-color);
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        &-forms {

            &__invalid {
                border: 1px solid var(--red-color) !important;
            }

            &__item {

                display: flex;
                justify-content: space-between;
                align-items: center;

                position: relative;

                margin-bottom: 0.8rem;
                padding: 0.3rem 0.8rem;
                border: 1px solid var(--rows-color);
                background-color: var(--rows-color);

                border-radius: 4px;

                &:hover{
                    border: 1px solid var(--yellow-color);
                    box-shadow: var(--yellow-color);
                }


                input {
                    outline: none;
                    border: none;
                    width: 60%;
                    background: transparent;
                    text-align: right;
                    font-weight: 500;

                    color: var(--first-text-color);

                    &:focus {
                        box-shadow: none;
                    }

                }

                &-left {
                    display: block;
                    width: 20%;
                    text-align: left;
                    opacity: 50%;
                }

                &-right {
                    display: block;
                    width: 20%;
                    text-align: right;
                    opacity: 50%;
                }

            }

            button {
                display: block;

                width: 100%;
                margin-top: 1rem;
                padding: 0.8rem 0;

                text-align: center;
                outline: none;
                border: 1px solid var(--green-color);
                border-radius: 4px;

                color: var(--white-color);
                background-color: var(--green-color);

                &:hover {
                    opacity: 90%;
                }

            }

        }

    }
    /** buy end */

    /** sell start */
    &__sell {
        width: 100%;

        &-title {
            display: flex;
            justify-content: space-between;

            margin: 1.5rem 0 0.5rem;
        }

        &-currency {
            display: flex;
            justify-content: flex-start;

            color: var(--second-text-color);
        }

        &-icon {
            position: relative;
            top: -1px;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }

        &-color {
            stroke: var(--second-text-color);
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round;
        }


        &-forms {

            &__invalid {
                border: 1px solid var(--red-color) !important;
            }

            &__item {

                display: flex;
                justify-content: space-between;
                align-items: center;

                position: relative;

                margin-bottom: 0.8rem;
                padding: 0.3rem 0.8rem;
                border: 1px solid var(--rows-color);
                background-color: var(--rows-color);

                border-radius: 4px;

                &:hover{
                    border: 1px solid var(--yellow-color);
                    box-shadow: var(--yellow-color);
                }

                input {
                    outline: none;
                    border: none;
                    width: 60%;
                    background: transparent;
                    text-align: right;
                    font-weight: 500;

                    color: var(--first-text-color);

                    &:focus {
                        box-shadow: none;
                    }

                }

                &-left {
                    display: block;
                    width: 20%;
                    text-align: left;
                    opacity: 50%;
                }

                &-right {
                    display: block;
                    width: 20%;
                    text-align: right;
                    opacity: 50%;
                }

            }

            button {
                display: block;

                width: 100%;
                margin-top: 1rem;
                padding: 0.8rem 0;

                text-align: center;
                outline: none;
                border: 1px solid var(--red-color);
                border-radius: 4px;

                color: var(--white-color);
                background-color: var(--red-color);

                &:hover {
                    opacity: 90%;
                }

            }

        }

    }
    /** sell end */

    .form-disabled {
        &:hover{
            border: 1px solid var(--rows-color);
            box-shadow: none;
        }
        background-color: var(--border-line-color);
    }

}

/** .module orderform end */


@media screen and (max-width: 570px) {
    .module-orderform {

        &__container {
            display: block;
        }

        /** buy start */
        &__buy {
            width: 100%;
        }
        /** buy end */

        /** sell start */
        &__sell {
            width: 100%;
        }
        /** sell end */

    }

}
