.group-wWM3zP_M {
    background-color: #ffffff !important;
}

.item-2xPVYue0.isActive-2j-GhQs_, .item-2xPVYue0.isActive-2j-GhQs_:active {
    background-color: #303254 !important;
}

.container-RYiwcUsM {
    background: #303254 !important;
}
