
/** form search start */
.form-search {
    margin-top: 2rem;

    &__container {

        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        margin-bottom: 3rem;

    }

    &__block {
        width: 30%;
        padding: 0 1rem 0 0;
        align-items: stretch;

        &-title {
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        button {
            margin-top: 1.40rem;
        }


    }

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 60%;
        padding: 2rem;

        border-radius: 4px;

        background-color: var(--rows-color);

        h4 {
            font-size: 1.40rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 0.90rem;
            line-height: 150%;
        }

        &-icon {
            width: 50px;
            height: 50px;
            margin-right: 2rem;
        }

    }

    &__result {

        &-block {
            margin-bottom: 2rem;
            font-size: 0.90rem;

            ul {
                list-style-type: circle;
                list-style-position: inside;
            }
        }
        .result-block {
            display: flex;
            justify-content: space-between;

        }
        &-title {
            color: var(--second-text-color);
        }
        &-link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-icon {
            display: inline-block;
            width: 20px;
            height: 20px;

            margin-left: 1rem;

            cursor: pointer;
        }
        &-color {
            stroke: var(--blue-dark-color);
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        &-color2 {
            fill: var(--blue-dark-color);
        }

        &-item {

            &.w-full {
                width: 100% !important;
            }

            width: 50%;
            padding-right: 1rem;

            span {
                color: var(--second-text-color);
            }

        }
    }

}
/** form search end */


/** table filter media screen start */
@media screen and (max-width: 1000px) {

    .form-search {
        &__info {
            width: 100%;
        }
    }

}
/** table filter media screen end */



/** table filter media screen start */
@media screen and (max-width: 670px) {

    .form-search {
        &__info {
            display: block;
    
            &-icon {
                margin-right: 0;
                margin-bottom: 1rem;
            }
    
        }
    }

}
/** table filter media screen end */





